
TYPO3:
  TypoScript:
    defaultContext:
      Search: Neos\ContentRepository\Search\Eel\SearchHelper
Neos:
  ContentRepository:
    Search:
      realtimeIndexing:
        enabled: true
      indexingBatchSize: 100
      defaultConfigurationPerType:
        string:
          indexing: '${value}'
        boolean:
          indexing: '${value}'
        integer:
          indexing: '${value}'
        date:
          indexing: '${(value ? Date.format(value, ''Y-m-d\TH:i:s'') + ''Z'' : null)}'
        Neos\Media\Domain\Model\Video:
          indexing: ''
        Neos\Media\Domain\Model\ImageInterface:
          indexing: ''
        references:
          indexing: '${Indexing.convertArrayOfNodesToArrayOfNodeIdentifiers(value)}'
        reference:
          indexing: '${value.identifier}'
      defaultContext:
        String: Neos\Eel\Helper\StringHelper
        Array: Neos\Eel\Helper\ArrayHelper
        Date: Neos\Eel\Helper\DateHelper
        Indexing: Neos\ContentRepository\Search\Eel\IndexingHelper
